.advantages {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.advantages__list {
  @include ul-ol-reset;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  min-height: 167px;
  color: $basic-black;
}

.advantages__item--big {
  background-color: $basic-blue;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 256px);
    grid-template-rows: 256px 330px;
    grid-gap: 0;
    grid-template-areas:
      "advantages__header advantages__picture advantages__picture"
      "advantages__nested-list advantages__nested-list advantages__nested-list";
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }
}

.advantages__item--big--reverse {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.advantages__item--small {
  @media (min-width: $tablet-width) {
    width: 256px;
    height: 256px;
    background-color: $background-gray;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__header {
  min-height: 211px;

  @media (min-width: $tablet-width) {
    grid-area: advantages__header;
    width: 286px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $dark-gray;
}

.advantages__text--big {
  color: $basic-white;
}

.advantages__picture {
  display: block;
  width: 320px;
  height: 260px;

  @media (min-width: $tablet-width) {
    grid-area: advantages__picture;
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__image {
  width: 320px;
  height: 260px;

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__nested-list {
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    grid-area: advantages__nested-list;
  }
}
