.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $basic-white;
  background-color: $basic-blue;
  border: 0;
  height: 58px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
