.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  color: $basic-white;
  background-color: $basic-blue;
  padding: 15px 32px 18px 32px;
  border: 0;
  min-width: 280px;
}
