.copyright {
  width: 320px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 400px;
  }
}

.copyright__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: $basic-black;
}
