.copyright {
  width: 121px;
  margin-left: 95px;
  position: relative;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 224px;
    padding-right: 32px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-right: 0;
  }
}

.copyright__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: $basic-black;
  display: inline;
  width: 27px;
  height: 34px;
}

.copyright__icon {
  position: absolute;
  right: -7px;
  top: -2px;

  @media (min-width: $tablet-width) {
    right: 61px;
    top: -1px;
  }

  @media (min-width: $desktop-width) {
    right: 120px;
    top: -2px;
  }
}
