.copyright {
  width: 121px;
  margin-left: 95px;
  position: relative;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin: 0;
    flex-basis: $tablet-width / 3;
    padding-bottom: 0;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex-basis: $desktop-width / 3;
  }
}

.copyright__text {
  @media (min-width: $tablet-width) {
    width: min-content;
    line-height: 26px;
    margin-right: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 160px;
  }
}

.copyright__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: $basic-black;
  display: inline;
  width: 27px;
  height: 34px;
}

.copyright__icon {
  position: absolute;
  right: -7px;
  top: -2px;

  @media (min-width: $tablet-width) {
    right: 61px;
    top: -1px;
  }

  @media (min-width: $desktop-width) {
    right: 120px;
    top: -5px;
  }
}
