.default-form {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: $dark-gray;
}

.default-form__fieldset {
  @include fieldset-reset;
  border-bottom: solid 1px $gray-catalog-separator;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }
}

.default-form__fieldset--person {
  @media (min-width: $tablet-width) {
    width: 268px;
    padding-left: 58px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-left: 80px;
    padding-right: 120px;
  }
}

.default-form__fieldset--contacts {
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: calc(#{$tablet-width} - 120px);
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
  }
}

.default-form__fieldset--impression {
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    position: relative;
    border-bottom: none;
    width: calc((#{$tablet-width} - 120px) / 2);
    padding-right: 0;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 292px;
      right: 0;
      top: -78px;
      background-color: $gray-form-separator;
    }
  }

  @media (min-width: $desktop-width) {
    width: calc((#{$desktop-width} - 240px) / 2 - 11px);
    padding-left: 131px;
    position: relative;
    border-bottom: none;
  }
}

.default-form__fieldset--landmark {
  padding-bottom: 0;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    width: calc(#{$tablet-width} - 120px);
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 15px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 120px;
    margin-right: 120px;
  }
}

.default-form__fieldset--emotions {
  border: none;

  @media (min-width: $tablet-width) {
    width: calc(#{$tablet-width} - 120px);
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 25px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 240px);
    padding-left: 0;
    padding-right: 0;
    margin-left: 120px;
  }
}

.default-form__title {
  color: $basic-black;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

.default-form__title--person {
  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.default-form__title--contacts {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      left: -185px;
      top: 9px;
      background-color: $gray-form-separator;
    }

    &::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      right: -185px;
      top: 9px;
      background-color: $gray-form-separator;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    &::before {
      width: 280px;
      left: -342px;
    }

    &::after {
      width: 280px;
      right: -342px;
    }
  }
}

.default-form__title--landmark {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 308px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;

    &::before {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      left: -170px;
      top: 25px;
      background-color: $gray-form-separator;
    }

    &::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      right: -170px;
      top: 25px;
      background-color: $gray-form-separator;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 58px;

    &::before {
      width: 280px;
      left: -326px;
    }

    &::after {
      width: 280px;
      right: -326px;
    }
  }
}

.default-form__title--failure {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    font-size: 30px;
    line-height: 40px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

.default-form__title--sucсess {
  background-color: $basic-white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-top: 49px;
  }
}

.default-form__title--emotions {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;

    &::before {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      left: -200px;
      top: 9px;
      background-color: $gray-form-separator;
    }

    &::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      right: -200px;
      top: 9px;
      background-color: $gray-form-separator;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;

    &::before {
      width: 280px;
      left: -354px;
    }

    &::after {
      width: 280px;
      right: -354px;
    }
  }
}

.default-form__list {
  @include ul-ol-reset;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
}

.default-form__list--contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.default-form__list--landmark {
  @media (min-width: $tablet-width) {
    width: 478px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 96px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
  }
}

.default-form__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.default-form__item--contacts {
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
    flex-direction: row;
    align-items: center;
  }
}

.default-form__item--impression {
  @media (min-width: $tablet-width) {
    &:last-child {
      margin-bottom: 15px;
    }
  }
}

.default-form__item--landmark {
  padding-bottom: 32px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: $tablet-width / 3.5;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    justify-content: space-between;
  }

  &:last-child {
    padding-bottom: 20px;
  }
}

.default-form__label {
  color: $dark-gray;
  font-size: 14px;
  font-weight: 400;
}

.default-form__label--text {
  margin-left: 0;
}

.default-form__label--contacts {
  width: auto;
  padding-left: 22px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-left: 60px;
    padding-right: 18px;
  }
}

.default-form__label--contacts-right {
  @media (min-width: $desktop-width) {
    width: 220px;
    padding-left: 0;
    margin-left: 0;
    padding-right: 14px;
  }
}

.default-form__span {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.default-form__text-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.default-form__label--radio {
  margin-left: 78px;
  align-self: center;
  height: 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    margin-left: 76px;
    padding-top: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

.default-form__label--checkbox {
  margin-left: 80px;
  display: block;
  height: 46px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  position: relative;
  cursor: pointer;
  user-select: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.default-form__input {
  background-color: $input-background;
  color: $basic-black;
  font-weight: 700;
  font-size: 18px;
  border: 0;
  width: 100%;
  height: 56px;
  margin-left: 14px;
  padding-left: 21px;
}

.default-form__input::placeholder {
  color: $basic-black;
}

.default-form__input:hover {
  background-color: $gray-button-down;
}

.default-form__input:active,
.default-form__input:focus {
  background-color: $basic-white;
  height: 48px;
  padding-left: 17px;
  border: 4px solid $gray-catalog-separator;
  outline: 0;
  border-radius: 0;

  @media (min-width: $desktop-width) {
    width: 231px;
  }
}

.default-form__input--phone {
  margin-left: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 235px;
  }
}

.default-form__icon {
  width: 58px;
  height: 58px;
}

.default-form__icon--phone {
  background: $input-gray-icon url("../img/phone.svg") no-repeat center;
}

.default-form__icon--email {
  background: $input-gray-icon url("../img/email.svg") no-repeat center;
}

.default-form__radio {
  margin-left: 50px;
  height: 48px;
}

.default-form__radio + label::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  left: -78px;
  top: 2px;
  border-radius: 50%;
  background-color: $input-background;
  border: 5px solid $input-background;
}

.default-form__radio:checked + label::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: -61px;
  top: 20px;
  border-radius: 50%;
  background-color: $dark-gray;
  border: 3px solid $dark-gray;
}

.default-form__radio:hover + label::before,
.default-form__radio:hover + label::after,
.default-form__checkbox:hover + label::before,
.default-form__checkbox:hover + label::after,
.default-form__radio:checked:hover + label::before,
.default-form__checkbox:checked:hover + label::before,
.default-form__checkbox:checked:hover + label::after {
  background-color: $gray-catalog-separator;
  border-color: $gray-catalog-separator;
}

.default-form__radio:checked:hover + label::after {
  background-color: $dark-gray;
  border-color: $dark-gray;
}

.default-form__radio:active + label::before,
.default-form__radio:active + label::after,
.default-form__checkbox:active + label::before,
.default-form__checkbox:active + label::after,
.default-form__radio:checked:active + label::before,
.default-form__checkbox:checked:active + label::before {
  background-color: $gray-button-down;
  border-color: $gray-button-down;
}

.default-form__radio:focus + label::before,
.default-form__checkbox:focus + label::before,
.default-form__radio:checked:focus + label::before,
.default-form__checkbox:checked:focus + label::before {
  background-color: $gray-button-down;
  border-color: $gray-button-down;
}

.default-form__radio:checked:active + label::after {
  border-color: rgba($color: $dark-gray, $alpha: 0.3);
  background-color: rgba($color: $dark-gray, $alpha: 0.3);
}

.default-form__checkbox + label::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  left: -80px;
  top: -14px;
  border-radius: 5px;
  background-color: $input-background;
  border: 5px solid $input-background;
}

.default-form__checkbox:checked + label::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  left: -80px;
  top: -14px;
  border-radius: 5px;
  border: 5px solid $input-background;
  background: $input-background url("../img/tick.svg") no-repeat center;
}

.default-form__checkbox:checked:active + label::after {
  background: $gray-button-down url("../img/tick-active.svg") no-repeat center;
  border-color: $gray-button-down;
}

.default-form__checkbox:checked:focus + label::after {
  border-color: $gray-button-down;
}

.default-form__textarea {
  width: 240px;
  height: 118px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: $input-background;
  border: 0;
  margin-bottom: 40px;
  resize: none;
  padding: 13px 23px 29px 21px;

  @media (min-width: $tablet-width) {
    width: calc(#{$tablet-width} - 160px);
  }

  @media (min-width: $desktop-width) {
    width: calc(#{$desktop-width} - 280px);
  }
}

.default-form__textarea::placeholder {
  color: $basic-black;
}

.default-form__message {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 38px;
  padding-top: 25px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 39px;
  }
}

.default-form__message--sucсess {
  @media (min-width: $tablet-width) {
    padding-top: 31px;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
    padding-bottom: 41px;
  }
}

.default-form__button {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 120px;
    width: 480px;
  }
}

.default-form__button:hover {
  background-color: $mobile-menu-hover;
}

.default-form__button:active,
.default-form__button:focus {
  background-color: $mobile-menu-down;
  color: rgba($color: $basic-white, $alpha: 0.3);
}

.default-form__button:disabled {
  background-color: $gray-catalog-separator;
}

.default-form__button--popup {
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 276px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.default-form__button--success {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
    width: 458px;
    font-size: 21px;
    line-height: 26px;
    padding-top: 9px;
  }
}

.default-form__required {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    padding-right: 60px;
    padding-top: 18px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
  }
}

.default-form__popup {
  width: 320px;
  height: 280px;
  background-color: $basic-white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.default-form__popup--success {
  height: 323px;
  background-color: $input-background;

  @media (min-width: $tablet-width) {
    width: 640px;
    height: 347px;
  }
}

.default-form__popup--failure {
  @media (min-width: $tablet-width) {
    width: 400px;
    height: 347px;
  }
}
