.gallery {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;
  }
}

.gallery__list {
  @include ul-ol-reset;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.gallery__item {
  margin-top: 22px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: ($tablet-width - 120) / 2;
    background-color: $input-background;
    margin-left: unset;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width/3;
    position: relative;
  }
}

.gallery__item:nth-child(2n+1) {
  @media (min-width: $tablet-width) {
    background-color: $gray-catalog-odd;
  }
}

.gallery__item:first-child {
  @media (min-width: $tablet-width) {
    background-color: $input-background;
  }
}

.gallery__item--big {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.gallery__figure {
  @include figure-reset;
  position: relative;
  padding-bottom: 15px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    left: -20px;
    height: 1px;
    background-color: $gray-catalog-separator;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }
}

.gallery__link {
  display: block;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 267px;
  }
}

.gallery__link--big {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;
  }
}

.gallery__picture {
  display: block;
  width: auto;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 267px;
  }
}

.gallery__picture--big {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.gallery__image {
  width: 280px;
  height: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: ($tablet-width - 120) / 2;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.gallery__image--big {
  @media (min-width: $tablet-width) {
    width: inherit;
    height: 400px;
  }
}

.gallery__text {
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    width: auto;
    height: 80px;
    margin-left: 20px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: 3fr auto;
    grid-template-areas:
      "title like"
      "author like";
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-right: unset;
    background-color: rgba($basic-black, $alpha: 0.3);
  }
}

.gallery__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: $basic-black;
  grid-area: title;
  width: 209px;
  margin-top: 10px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.gallery__author {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $dark-gray;
  text-align: left;
  text-transform: none;
  grid-area: author;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.gallery__like {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  background-color: $basic-white;
  color: $basic-black;
  border: 0;
  grid-area: like;
  padding-left: 37px;
  display: flex;
  flex-direction: row;

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 21px;
    left: 0;
    background: url("../img/like-icon.svg") no-repeat center;

    @media (min-width: $tablet-width) {
      right: 45px;
      left: unset;
    }

    @media (min-width: $desktop-width) {
      background: transparent url("../img/like-icon-white.svg") no-repeat center;
      right: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 62px;
    display: block;
    background-color: inherit;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 63px;
    color: $basic-white;
    background-color: unset;
    padding-left: 0;
    padding-right: 0;
    text-align: left;

  }
}

.gallery__like--big {
  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding-top: 28px;
    padding-right: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 20px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      right: 45px;
      left: unset;
    }

    @media (min-width: $desktop-width) {
      right: 62px;
      left: unset;
    }
  }
}
