.gallery {
  width: 320px;
}

.gallery__list {
  @include ul-ol-reset;
}

.gallery__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: $basic-black;
}

.gallery__author {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $dark-gray;
  text-align: left;
}

.gallery__like {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  background-color: $basic-white;
  color: $basic-black;
  border: 0;
}

