.main-nav__toggle {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 0;
  transform: translate(-100%, 80%);
  background-color: $basic-white;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  border: 0;

  &:hover {
    opacity: 0.6;
    background-color: transparent;
  }

  &:focus,
  &:active {
    opacity: 0.3;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--close {
  background-color: $basic-blue;
  background-image: url("../img/icon-cross.svg");
  z-index: 3;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  text-align: center;
}
