.main-nav {
  height: 223px;

  &__toggle {
    display: block;
    width: 23px;
    height: 22px;
    border: 1px solid $basic-black;
  }

  &__list {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
  }
}
