.page-main {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.page-main__advantages {
  text-align: center;
}

.page-main__search {
  text-align: center;
}
