.page-footer {
  min-height: 120px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    background-color: $basic-white;
  }
}

.page-footer__hashtag {
  display: block;
  color: $basic-black;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: 38px;
  margin-bottom: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 256px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}
