.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 102px;
  height: 56px;
  margin: 0 auto;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 156px;
    height: 84px;
  }

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 97px;
  }
}

.page-header__logo--nojs {
  position: relative;
  order: 0;
  left: unset;
  transform: unset;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
}

.page-header__logo-image {
  margin: 0 auto;
  width: 102px;
  height: 84px;

  @media (min-width: $tablet-width) {
    width: 156px;
    height: 84px;
  }

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 97px;
  }
}

.page-header__nav {
  width: 320px;
  font-weight: 700;
  height: 56px;
  font-size: 18px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    background-color: $basic-white;
  }
}

.page-header__nav--nojs {
  height: 223px;
  order: -1;

  @media (min-width: $tablet-width) {
    height: 56px;
  }
}

.page-header__greeting {
  position: relative;
  width: 320px;
  height: 389px;
  background: $basic-white url("../img/back-mobile.jpg") no-repeat center top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid $basic-white;
    border-right: 160px solid transparent;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid $basic-white;
    border-left: 160px solid transparent;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 518px;
    background: $basic-white url("../img/back-tablet.jpg") no-repeat center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: 768px auto;
    }

    &::before {
      border-bottom: none;
      border-right: none;
    }

    &::after {
      content: "";
      position: absolute;
      border-bottom: none;
      border-right: none;
      width: 768px;
      height: 57px;
      background: url("../img/intro-triangle.svg") no-repeat center top;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 518px;
    background: $basic-white url("../img/back-desktop.jpg") no-repeat center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: 1200px auto;
    }

    &::before {
      border-bottom: none;
      border-right: none;
    }

    &::after {
      content: "";
      position: absolute;
      border-bottom: none;
      border-right: none;
      width: 1200px;
      height: 57px;
      background: url("../img/intro-triangle-big.svg") no-repeat center top;
    }
  }
}

.page-header__greeting--nojs {
  order: 1;
}

.page-header__greeting--catalog,
.page-header__greeting--form {
  height: 158px;
  background: $basic-white url("../img/back-mobile-inner.jpg") no-repeat center top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile-inner@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 290px;
    background-image: url("../img/back-tablet-inner.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet-inner@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 301px;
    background-image: url("../img/back-desktop-inner.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop-inner@2x.jpg");
    }
  }
}

.page-header__image {
  margin: 0 auto;
  display: block;
  margin-top: 90px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    margin-top: 78px;
  }
}

.page-header__image--catalog {
  margin-top: 52px;

  @media (min-width: $tablet-width) {
    margin-top: 94px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    height: 80px;
    margin-top: 100px;
  }
}

.page-header__image--form {
  margin-top: 52px;

  @media (min-width: $tablet-width) {
    margin-top: 94px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    height: 80px;
    margin-top: 100px;
  }
}

.page-header__heading {
  background-color: $basic-white;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-right: 160px solid $basic-white;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-left: 160px solid $basic-white;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 520px;
    height: 110px;
    margin: 44px auto 53px auto;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    padding-top: 64px;
  }
}

.page-header__heading--nojs {
  order: 2;
}

.page-header__heading--catalog {
  &::after,
  &::before {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 59px;
    width: 430px;
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background-color: $basic-white;
    margin-top: 45px;
    margin-bottom: 37px;
  }
}

.page-header__heading--form {
  &::after,
  &::before {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 59px;
    width: 430px;
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background-color: $basic-white;
    margin-top: 45px;
    margin-bottom: 10px;
  }
}

.page-header__welcome {
  display: block;
  color: $basic-black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-top: 32px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-top: 0;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0 auto;
  }
}

.page-header__welcome--catalog {
  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.page-header__welcome--form {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 33px;
  }
}

.page-header__main-theme {
  color: $dark-gray;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 14px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}

.page-header__main-theme--catalog {
  line-height: 24px;
  margin-bottom: 30px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $gray-catalog-separator;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 440px;
    margin: 0 auto;
  }
}

.page-header__main-theme--form {
  line-height: 24px;
  margin-bottom: 17px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $gray-catalog-separator;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 440px;
    margin: 0 auto;
  }
}
