.search {
  width: 320px;
  min-height: 287px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    background-color: $basic-white;
  }
}

.search__caption {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $basic-black;
}

.search__overview {
  color: $dark-gray;
  margin-bottom: 27px;
  margin-top: 20px;
}
