.search {
  min-height: 287px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.search__caption {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $basic-black;
  margin-top: 31px;
}

.search__overview {
  color: $dark-gray;
  margin-bottom: 27px;
  margin-top: 22px;
}

.search__btn {
  width: 280px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}
