.site-list {
  @include ul-ol-reset;
  width: 320px;
  position: absolute;
  top: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.site-list__item {
  height: 55px;
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    height: 56px;
    background-color: $basic-white;
  }
}

.site-list__item--logoplace {
  height: 0;

  @media (min-width: $tablet-width) {
    width: 102px;
  }
}

.site-list__link {
  color: $basic-white;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
  }
}
