.site-list {
  width: 320px;

  &__item {
    height: 55px;
    background-color: $basic-blue;
  }

  &__link {
    color: $basic-white;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
  }
}
