.social-links {
  @include ul-ol-reset;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 112px;
  align-items: center;
  gap: 6px;

  @media (min-width: $tablet-width) {
    margin: 0;
    flex-basis: $tablet-width / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: no-wrap;
    gap: 6px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: $desktop-width / 3;
  }
}

.social-links__item {
  width: 46px;
  height: 48px;
  background-color: $basic-blue;
}

.social-links__link--twitter {
  display: block;
  width: inherit;
  height: inherit;
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover {
    background-color: $mobile-menu-hover;
  }

  &:active,
  &:focus {
    background-color: $mobile-menu-down;
    opacity: 0.3;
  }
}

.social-links__link--facebook {
  display: block;
  width: inherit;
  height: inherit;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover {
    background-color: $mobile-menu-hover;
  }

  &:active,
  &:focus {
    background-color: $mobile-menu-down;
    opacity: 0.3;
  }
}

.social-links__link--youtube {
  display: block;
  width: inherit;
  height: inherit;
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover {
    background-color: $mobile-menu-hover;
  }

  &:active,
  &:focus {
    background-color: $mobile-menu-down;
    opacity: 0.3;
  }
}
