.social-links {
  @include ul-ol-reset;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.social-links__item {
  width: 46px;
  height: 48px;
  background-color: $basic-blue;
  display: inline-block;
  margin-top: 34px;
  margin-bottom: 22px;
}
