img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

html {
  font-family: $base-font;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
}

body {
  font-family: $base-font;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
}

.hidden {
  display: none;
}
